dbdsn="file:./vol/db.sqlite"
admin_user = "admin"
admin_password = "admin"
site_name = "知识库"
site_description = "Linux, opensource, golang"
site_url = "http://localhost:8005"
srvMode="debug"
object_storage_type = 1
h_captcha_site_key= ""
h_captcha_secret_key=""
[object_storage]
aws_access_key_id = "******"
aws_secret_access_key = "******"
aws_region = "us-east-1"
aws_bucket = "www.domain.com"
cdn_url = "//www.domain.com"